
@{
    ViewBag.Title = "Lista categorii";
}

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (var category in ViewBag.Categories)
{
    <h2>@category.CategoryName</h2>
    <a class="btn btn-success" href="/Category/Show/@category.CategoryId">Afisare categorie</a>
    if (User.IsInRole("Administrator"))
    {
        <a class="btn btn-success" href="/Category/Edit/@category.CategoryId">Editare categorie</a>
        <br />
    }
    <br />
}

<br />

<div class="panel-footer article-panel-footer around" style="background-color:white">
    <br />
    @if (User.IsInRole("Administrator"))
    {
        <a class="btn btn-info" href="/Category/New" style="margin-top:20px">Adauga o noua categorie</a>
        <br />
        <br />
    }

    <a class="btn btn-info" href="/News/Index" style="margin-top:20px">Lista stiri</a>
    <br />
</div>